.note {
  display: flex;
}

.note-panel {
  background-color: var(--first-background-color);
  width: 25%;
  height: 100vh;
}

.note-border {
  border: 1px solid var(--second-background-color);
}

.note-body {
  background-color: var(--third-background-color);
  width: 75%;
  height: 100vh;
}

.note-panel-header {
  text-align: right;
  height: 50px;
}

.note-panel-header-delete {
  width: 20px;
  height: 20px;
  margin: 15px;
}

.note-body-header {
  height: 50px;
  background-color: var(--first-background-color);
  display: flex;
  justify-content: space-between;
}

.note-body-header-add-note {
  width: 20px;
  height: 20px;
  margin: 15px;

}

.note-body-header-btn {
  margin-right: 15px;
  color: var(--forth-text-color);
  font-size: var(--sixth-font-size);
  font-family: "my-font-demibold", serif;
}

.delete-modal {
  position: fixed;
  width: 250px;
  height: 200px;
  background-color: var(--first-background-color);
  top: 35%;
  left: 45%;
  border: 1px solid var(--second-text-color);
  border-radius: var(--second-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  animation: modal-open ease 250ms;
}

@keyframes modal-open {
  100% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0%);
  }
}

.delete-modal-img {
  width: 50px;
  height: 50px;
}

.delete-modal-qus {
  padding: 10px;
  text-align: center;
  color: var(--third-text-color);
  font-size: var(--second-font-size);
  font-family: "my-font-demibold", serif;
}

.delete-modal-btn {
  display: flex;
  align-items: center;
}

.delete-modal-btn-detail {
  border: 1px solid var(--second-text-color);
  border-radius: var(--first-radius);
  background-color: var(--second-text-color);
  color: var(--third-text-color);
  font-size: var(--second-font-size);
  font-family: "my-font", serif;
  padding: 2px 30px;
  margin: 0 5px;
  cursor: pointer;
}

.note-panel-detail {
  padding: 5px var(--second-solid-padding);
  height: 90%;
  overflow-y: scroll;
}

.note-panel-note-box {
  border-bottom: 1px solid var(--first-border-color);
  padding-bottom: 5px;
  padding-top: 8px;

  &.active {
    background-color: red;
  }
}

.note-box-click {
  background-color: #00AB50;
}

.note-panel-note-box-title {
  font-size: var(--fifth-font-size);
  font-family: "my-font-demibold", serif;
  color: var(--third-text-color);
  margin-bottom: -6px;
}

.note-panel-note-box-text {
  font-size: var(--third-font-size);
  font-family: "my-font", serif;
  color: var(--second-text-color);
}

.note-body-title {
  width: 100%;
  padding-top: 20px;
  padding-left: 15px;
  color: var(--third-text-color);
  font-size: var(--third-font-size);
}

.note-body-text {
  width: 100%;
  height: 85vh;
  resize: none;
  padding-left: 15px;
  padding-top: 8px;
  color: var(--third-text-color);
  font-size: var(--second-font-size);
}